.navbar {
  height: 150px;
}
.language-container {
  width: 200px;
  height: 180px;
  background: #ffffff;
  border-radius: 30px;
  position: absolute;
  top: 80%;
  left: 10px;
  animation: language-component-animation 0.3s cubic-bezier(0.4, 1.4, 0.4, 1) 1
    forwards;
}
.language-container::before {
  content: "";
  clip-path: polygon(50% 55%, 0% 100%, 100% 100%);
  width: 35px;
  height: 40px;
  background: white;
  position: absolute;
  top: -40px;
  right: 20%;
  box-shadow: 0 0 40px 10px rgba(0 0 0/1);
}

.language-container > button {
  width: 100%;
  height: fit-content;
}

.nav-link-container a {
  min-width: fit-content;
  padding: 5px;
  font-size: 16px;
  font-weight: 400;
  opacity: 0;
  transform: translateX(20px);
  animation: nav-link-animation 1.5s linear 1 alternate forwards;
  transition: all 0.13s linear;
  cursor: pointer;
  position: relative;
}
.nav-link-container a:hover {
  scale: 1.1;
  font-size: 16px;
}
@keyframes nav-link-animation {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 0.7;
    transform: translateX(0);
  }
}
@keyframes language-component-animation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.logo-container {
  opacity: 1;
  animation-name: logo-bounce;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}
@keyframes logo-bounce {
  0%,
  100% {
    opacity: 0;
    transform: translateY(-25%);
  }
  50% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 1;
  }
}
.section1 {
  min-width: 100%;
  width: 100%;
  max-height: 500px;
  height: 500px;
  animation: language-component-animation 1s cubic-bezier(0.4, 1.4, 0.4, 1) 1
    forwards;
}
.video-section {
  z-index: 10;
}
.video-section::before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 180px;
  right: -30px;
  background: #1e2d48;
  z-index: -1;
}
.video-container {
  background: linear-gradient(
    38deg,
    rgba(2, 0, 36, 0.2862394957983193) 0%,
    rgba(255, 255, 255, 1) 17%,
    rgba(0, 212, 255, 0) 46%
  );
}
.h1-text {
  font-size: 52px;
  font-weight: 950;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: right;
}
.plain-text {
  font-size: 26px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: right;
}
.desc-intro-section {
  font-size: 16px;
  font-weight: 300;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
}
.series-setction > div:first-child {
  background-image: url("./../assets/mainpage/section-2/circles.svg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: auto 70%;
}
.series-setction > div:first-child::before {
  content: "";
  width: 96%;
  height: 100%;
  background: #d1af89;
  opacity: 0.3;
  position: absolute;
  top: -20px;
  left: 2%;
  border-radius: 30px;
}
.h2-text {
  font-size: 29px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: right;
}
.h2-text > span {
  font-size: 29px;
  font-weight: 950;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: right;
}
.series-section-paragraph {
  font-size: 16px;
  font-weight: 300;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}
.series-swiper .swiper-slide {
  min-width: 273px;
  max-width: 273px;
  min-height: 212px;
  max-height: 212px;
  border-radius: 34.342105865478516px;
  display: flex;
  align-items: end;
  justify-content: end;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 8.5925931930542px;
  height: 5.333333492279053px;
  border-radius: 50.481483459472656px;
  transition: all 0.13s cubic-bezier(0.6, 1.4, 0.6, 1.2);
}
.swiper-pagination .swiper-pagination-bullet-active {
  width: 27.925928115844727px;
  height: 5.333333492279053px;
  border-radius: 50.481483459472656px;
  background: #1e2d48;
}
.legal-section {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2638305322128851) 14%,
    rgba(189, 189, 189, 0.2498249299719888) 34%,
    rgba(189, 189, 189, 0.26943277310924374) 83%,
    rgba(255, 255, 255, 0.26943277310924374) 92%
  );
  clip-path: polygon(0% 1%, 99% 1%, 100% 62%, 0% 81%);
}
.circle-component {
  max-width: 500px;
  width: 500px;
  max-height: 500px;
  height: 500px;
  border-radius: 50%;
  right: 25%;
  z-index: -1;
}
.circle-component::before {
  content: "";
  width: 110%;
  height: 110%;
  z-index: -1;
  background: #1e2d48;
  position: absolute;
  opacity: 0.01;
  top: -5%;
  left: -5%;
  border-radius: 50%;
}
.paragraph-text {
  font-family: Yekan Bakh FaNum;
  font-size: 16px;
  font-weight: 300;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
}
.vector-container::before {
  content: "";
  clip-path: circle(25.2% at 50% 50%);
  /* background: #ededed; */
  /* background: red; */
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: -10px;
  right: -30px;
  z-index: -1;
}
.legal-section .content-container {
  background: linear-gradient(
    90deg,
    rgba(227, 232, 242, 1) 0%,
    rgba(227, 232, 242, 1) 80%,
    rgba(255, 255, 255, 0) 80%
  );
}
.circle-component-2 {
  max-width: 500px;
  width: 500px;
  max-height: 500px;
  height: 500px;
  border-radius: 50%;
  right: 25%;
  z-index: -1;
}
